<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#317EFB">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Boilerplate Slim Webpack Js Sass Images">
  <meta name="keywords" content="html, css, sass, javascript, nodejs, webpack, composer, slim, psr-4, boilerplate">
  <link rel="icon" href="{{base_url()}}/assets/images/favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="{{base_url()}}/assets/images/favicon.ico" type="image/x-icon">
  <title>{{pagetitle}}</title>
  <link rel="stylesheet" href="{{base_url()}}/assets/css/vendor.css">
  <link rel="stylesheet" href="{{base_url()}}/assets/css/index.css">
</head>
<body>
  <h1 class="app-center text-primary">Boilerplate Slim Webpack Js Sass Images</h1>
</body>
</html>